{% extends "base.html" %}

{% block title %}Edit Inventory{% endblock %}

{% block content %}

<div class="container">

<h2 class="page-title">

Edit Inventory

</h2>

<div class="card p-4">

<form method="POST">

<label>Stock</label>

<input

type="number"

class="form-control"

name="stock"

value="{{inventory[1]}}"

required>

<br>

<label>Reorder Level</label>

<input

type="number"

class="form-control"

name="reorder_level"

value="{{inventory[2]}}"

required>

<br>

<label>Warehouse</label>

<input

type="text"

class="form-control"

name="warehouse"

value="{{inventory[3]}}"

required>

<br>

<button class="btn btn-success">

Update

</button>

<a href="/inventory"

class="btn btn-secondary">

Back

</a>

</form>

</div>

</div>

{% endblock %}